.over_form form {
    text-align: left;
    margin-top: 27px
}

.over_form form p {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    text-align: left;
    padding-left: 9px;
    margin-bottom: 3px;
    text-indent: 0 !important
}

.over_form form input,
.over_form form select {
    display: block;
    width: 100% !important;
    background: #f9f9f9;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    height: 40px;
    margin-bottom: 17px;
    padding-left: 10px !important;
    font-size: 16px !important
}

::-webkit-input-placeholder {
    color: #a7a7a7;
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif
}

::-moz-placeholder {
    color: #a7a7a7;
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif
}

:-moz-placeholder {
    color: #a7a7a7;
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif
}

:-ms-input-placeholder {
    color: #a7a7a7;
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif
}

.over_form form * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.over_form form button {
    height: auto !important;
    margin: 0 auto;
    padding: 0;
    background: #ff7a00 !important;
    border-radius: 4px;
    width: 100% !important;
    display: block !important;
    margin: 13px auto 8px;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #fff;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    padding: 10px 0
}

.over_form form p.now_buy {
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #585858
}

.over_form {
    max-width: 450px;
    margin: 30px auto 30px
}

.over_form .flex_pride {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center
}

.over_form .flex_pride .old_prc span.sty {
    text-decoration: line-through
}

.over_form .flex_pride .old_prc span {
    color: #000;
    font-size: 20px
}

.over_form .flex_pride .new_prc span,
.over_form .flex_pride .new_prc sup {
    color: #ff7a00;
    font-size: 26px;
    font-weight: 700
}

.over_form form button.button {
    max-width: 100%
}